<h1>@Model.GetName() Details: </h1>

<h2>Manufacturer = @Model.GetManufacture()</h2>
<h2>Weight = @Model.GetWeight()</h2>
<h2>Price = @Model.GetPrice()</h2>
<h2>Purchased? = @Model.IsPurchased()</h2>
<h2>Packed? = @Model.IsPacked()</h2>

<a href='/packertracker/new'>Add another item</a>
<a href='/packertracker'>View all items</a>
